<ion-header class="ion-no-border">
  <ion-toolbar>
    
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary">
      </ion-back-button>
    </ion-buttons> -->

    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title>Inicia sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  
  <ion-text color="primary" class="ion-text-center">
    <h1>Inicia sesión</h1>
  </ion-text>
  <!-- <h1 class="ion-text-center ion-margin-bottom ion-padding-bottom">Inicia sesión</h1> -->

  <div id="divEntryForm">
    <form (ngSubmit)="onSubmit(loginForm.value)" #loginForm="ngForm">

      <!-- <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [ngClass]="{'is-invalid': user.invalid && user.dirty}" #user="ngModel" [(ngModel)]="loginUser.user"
          required type="text" name="username" id="inpUser" placeholder="Introduce usuario"></ion-input>
      </ion-item>
      <div [hidden]="user.valid || user.pristine" class="ion-padding ion-text-center">
        El usuario es obligatorio
      </div> -->

      <ion-list>
        <ion-item>
          <ion-label position="fixed">Usuario</ion-label>
          <ion-input [ngClass]="{'is-invalid': user.invalid && user.dirty}" #user="ngModel" [(ngModel)]="loginUser.user"
            required type="text" name="username" id="inpUser" placeholder="Introduce usuario"></ion-input>
        </ion-item>
        <!-- <ion-item>
          <ion-input [ngClass]="{'is-invalid': user.invalid && user.dirty}" #user="ngModel" [(ngModel)]="loginUser.user"
            required type="text" name="username" id="inpUser" placeholder="Introduce usuario"></ion-input>
        </ion-item> -->
        <div [hidden]="user.valid || user.pristine" class="ion-padding ion-text-center">
          El usuario es obligatorio
        </div>  
      </ion-list>


      <ion-item>
        <ion-label position="fixed">Contraseña</ion-label>
      <!-- </ion-item>
      <ion-item> -->
        <ion-input [ngClass]="{'is-invalid': pass.invalid && pass.dirty}" #pass="ngModel" [(ngModel)]="loginUser.pass"
        required [type]="hidePass ? 'password' : 'text'" name="password" id="inpPass"
        placeholder="Introduce contraseña"></ion-input>
        
        <ion-icon *ngIf="hidePass" name="eye-outline" (click)="hidePass = !hidePass"></ion-icon>
        <ion-icon *ngIf="!hidePass" name="eye-off-outline" (click)="hidePass = !hidePass"></ion-icon>
      </ion-item>
      <div [hidden]="pass.valid || pass.pristine" class="ion-padding ion-text-center">
        La contraseña es obligatoria
      </div>


      <ion-grid>   
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" class="ion-text-center ion-margin-top ion-padding-top">
            <ion-button type="submit" color="primary" expand="block" [disabled]="!loginForm.valid">
              Enviar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </form>

    <!-- <ion-button expand="block" fill="outline" shape="round" [routerLink]="['/signup']">
      Si todavía no estás registrado...
    </ion-button>

    <ion-button expand="block" fill="clear" shape="round" [routerLink]="['/signup']">
      Si todavía no estás registrado...
    </ion-button> -->
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" fill="clear" shape="round" [routerLink]="['/signup']">
      Si todavía no estás registrado...
    </ion-button>
  </ion-toolbar>
</ion-footer>