@import "src/global.scss";

.cardTextSize {
    p {
        font-size: 18px;
    }
}

.segment {
    --background: #e5f8f3;
}

ion-slides {
    min-height: 100%;
}

.slide {
    height: 100%;
}

ion-icon, ion-badge {
    vertical-align: middle;
}

.infoBoxBg {
    background-color: $dietInfoBoxBackground;
}

.titlesColor{
    --color: white;
}

.width100 {
    width: 100%;
}

.cupOrNumber {
    width: 10%;

    ion-label {
        font-size: 18px;
        font-weight: 500;
    }

    ion-icon {
        font-size: 25px;
    }
}

.width25 {
    width: 30%;
}

// --------------------

@media (prefers-color-scheme: dark) {

    ion-segment-button {
        color: black !important;
    }

    ion-card {
        // border: 1px solid #78c2ad !important;
        border: 1px solid #404040 !important;
    }

    ion-list {
        border: 1px solid #404040 !important;
    }

}