.cardTextSize {
    p {
        font-size: 18px;
    }
}

.segment {
    --background: #e5f8f3;
}

ion-slides {
    min-height: 100%;
}

.width100 {
    width: 100%;
}

.slide {
    height: 100%;
}

ion-icon {
    font-size: 40px;
}

ion-datetime {
    --placeholder-color: #78c2ad;
}