<ion-header class="ion-no-border">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary">
      </ion-back-button>
    </ion-buttons>

    <ion-title>Social</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de amigos</ion-card-title>
      <ion-card-subtitle *ngIf="userFriends.length == 0">No tienes amigos actualmente. 
        <ion-icon name="sad-outline" class="iconSize centrado"></ion-icon>
      </ion-card-subtitle>
      <ion-card-subtitle *ngIf="userFriends.length == 1">Tienes {{userFriends.length}} amigo</ion-card-subtitle>
      <ion-card-subtitle *ngIf="userFriends.length > 1">Tienes {{userFriends.length}} amigos</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let friend of userFriends">
          <ion-button expand="block" shape="round">
            <ion-icon class="ion-margin-end" name="person-outline"></ion-icon> {{friend}}
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Amigos <ion-icon class="centrado" name="add-circle-outline" (click)="showModal()"></ion-icon>
      </ion-card-title>
      <ion-card-subtitle *ngIf="friendRequests.length == 0">No tienes solicitudes pendientes.</ion-card-subtitle>
      <ion-card-subtitle *ngIf="friendRequests.length == 1">Tienes {{friendRequests.length}} solicitud pendiente</ion-card-subtitle>
      <ion-card-subtitle *ngIf="friendRequests.length > 1">Tienes {{friendRequests.length}} solicitud pendientes</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>  
      <ion-list *ngFor="let friend of friendRequests">
        <ion-button shape="round">{{friend.claimantAthlete}}</ion-button>
        <ion-icon class="ion-margin-start iconSize centrado" color="primary" name="checkmark-circle-outline" (click)="acceptFriendRequest(friend.id)"></ion-icon>
        <ion-icon class="ion-margin-start iconSize centrado" color="secondary" name="close-circle-outline" (click)="rejectFriendRequest(friend.id)"></ion-icon>
      </ion-list>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Grupos
      </ion-card-title>
      <ion-card-subtitle *ngIf="groupRequests.length == 0">No tienes solicitudes de grupo pendientes</ion-card-subtitle>
      <ion-card-subtitle *ngIf="groupRequests.length == 1">Tienes {{groupRequests.length}} solicitud de grupo pendiente</ion-card-subtitle>
      <ion-card-subtitle *ngIf="groupRequests.length > 1">Tienes {{groupRequests.length}} solicitudes de grupo pendientes</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>  
      <ion-list *ngFor="let group of groupRequests">
        <ion-button shape="round">
          Solicitud: {{group.claimantAthlete}}
        </ion-button>
        <ion-icon class="ion-margin-start iconSize centrado" color="primary" name="checkmark-circle-outline" (click)="acceptGroupRequest(group.id)"></ion-icon>
        <ion-icon class="ion-margin-start iconSize centrado" color="secondary" name="close-circle-outline" (click)="rejectGroupRequest(group.id)"></ion-icon>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>